@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda Regular.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: normal;
}

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda Italic.ttf") format("truetype");
  font-weight: 400; /* Regular */
  font-style: italic;
}

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda-Medium.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: normal;
}

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda Medium Italic.otf") format("opentype");
  font-weight: 500; /* Medium */
  font-style: italic;
}

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda Bold.otf") format("opentype");
  font-weight: 700; /* Bold */
  font-style: normal;
}

@font-face {
  font-family: "Agenda";
  src: url("/fonts/Agenda Black.ttf") format("truetype");
  font-weight: 900; /* Black */
  font-style: normal;
}

@layer base {
  html {
    @apply text-black font-agenda font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }
  :root {
    --background: 47 22% 92%;
    --foreground: 210 33.3% 9.4%;
    --card: 47 20% 95%;
    --card-foreground: 210 33.3% 9.4%;
    --popover: 47 20% 95%;
    --popover-foreground: 210 33.3% 9.4%;
    --primary: 200 36.8% 37.3%;
    --primary-foreground: 0 0% 98%;
    --secondary: 188 28.7% 69.2%;
    --secondary-foreground: 210 33.3% 9.4%;
    --muted: 188 15% 80%;
    --muted-foreground: 210 20% 30%;
    --accent: 22 90.6% 66.7%;
    --accent-foreground: 210 33.3% 9.4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 47 20% 85%;
    --input: 47 20% 85%;
    --ring: 200 36.8% 37.3%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

@layer components {
  .content-container {
    @apply max-w-[1440px] w-full mx-auto px-6;
  }

  .contrast-btn {
    @apply px-4 py-2 border border-black rounded-full hover:bg-black hover:text-white transition-colors duration-200 ease-in;
  }

  .text-xsmall-regular {
    @apply text-[10px] leading-4 font-normal;
  }

  .text-small-regular {
    @apply text-xs leading-5 font-normal;
  }

  .text-small-semi {
    @apply text-xs leading-5 font-semibold;
  }

  .text-base-regular {
    @apply text-sm leading-6 font-normal;
  }

  .text-base-semi {
    @apply text-sm leading-6 font-semibold;
  }

  .text-large-regular {
    @apply text-base leading-6 font-normal;
  }

  .text-large-semi {
    @apply text-base leading-6 font-semibold;
  }

  .text-xl-regular {
    @apply text-2xl leading-[36px] font-normal;
  }

  .text-xl-semi {
    @apply text-2xl leading-[36px] font-semibold;
  }

  .text-2xl-regular {
    @apply text-[30px] leading-[48px] font-normal;
  }

  .text-2xl-semi {
    @apply text-[30px] leading-[48px] font-semibold;
  }

  .text-3xl-regular {
    @apply text-[32px] leading-[44px] font-normal;
  }

  .text-3xl-semi {
    @apply text-[32px] leading-[44px] font-semibold;
  }

  .article {
    h1 {
      @apply text-2xl;
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply text-md mt-16 mb-8;
    }

    p,
    ul {
      @apply mb-4;
    }

    ul,
    ol {
      @apply pl-5;
    }

    ul {
      @apply list-disc;
    }

    ol {
      @apply list-decimal;

      ul {
        @apply mt-4 pl-0;
      }

      > li {
        @apply pl-1;
      }

      > li + li {
        @apply mt-5;
      }
    }
  }

  .txt-medium {
    @apply text-[1.875rem] leading-[1.3125rem] font-normal font-agenda;
  }

  .txt-xlarge-plus {
    @apply text-[1.125rem] leading-[1.6875rem] font-medium font-agenda;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
